{% extends 'platform_student/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 border border-secondary rounded p-4 mt-4 bg-light">
                <h2 class="text-center">Результат теста</h2>

                {% if correct_count == total_questions %}
                    <p class="text-success text-center">Поздравляем! Вы правильно ответили на все {{ total_questions }} вопросов.</p>
                {% else %}
                    <p class="text-center">Вы правильно ответили на {{ correct_count }} из {{ total_questions }} вопросов.</p>

                    {% if incorrect_answers %}
                        <h3 class="text-center">Неверные ответы:</h3>
                        <ul>
                            {% for answer in incorrect_answers %}
                                <li>
                                    <strong>Вопрос:</strong> {{ answer.question }}<br>
                                    <strong>Ваш ответ:</strong> {{ answer.user_answer }}<br>
                                </li>
                                <hr class="my-2">
                            {% endfor %}
                        </ul>

                        <p class="text-danger text-center">
                            Прочитайте повторно материал и попробуйте пройти тест повторно. У вас все получится!
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}